<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
    <link rel="stylesheet" href="/static/chat/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/chat/css/onlinechat.css">
    <link rel="stylesheet" href="/static/chat/css/sweetalert2.min.css">
    <script src="/static/chat/js/jquery-3.0.0.js"></script>
    <script src="/static/chat/js/socket.io.min.js"></script>
    <script src="/static/chat/js/myjs.js"></script>
    <script src="/static/chat/js/chat_room.js"></script>
    <script src="/static/chat/js/sweetalert2.js"></script>
</head>
<body>
    <div class="sidebar bbs-box">
        <h2 style="color: #fff; text-align: center;">Chat room</h2>
        <div class="side-channel-list">
            <div class="side-channel-title" style="padding-left: 65px; color: #fff;">Channel</div>
            <div class="side-channel-item"><a href="#">lobby</a></div>
            <div class="side-channel-item"><a href="#">room1</a></div>
            <div class="side-channel-item"><a href="#">room2</a></div>
        </div>

        <div class="user-list">
            {% for u in users_in_room %}
            <div class="user-item">
                <a class="oc-userlist-avatar" href="#">
                    <img class="oc-avatar" src="/static/chat/img/avatar/avatar_default.png" height="25" width="25">
                </a>
                <div class="user-item-name">
                    &nbsp;    &nbsp;
                    <span><a href="#">{{u}}</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div><button id='id-button-send' class="btn btn-default" type="button">Send</button></div>
    </div>


    <div class="main-box">
        <div id="id-div-channel" class="topbar">
            <div class="oc-title">
                <div class="oc-chatitem-container user-avatar">
                    <a class="oc-chatitem-avatar" href="#">
                        <img class="oc-avatar" src="{{cur_user.avatar}}" height="50" width="50">
                    </a>
                    <div class="oc-user-info">
                        <div class="oc-chatitem-info">
                            <strong><a href="#">{{cur_user.username}}</a></strong>
                            &nbsp;  •  &nbsp;
                            <strong style="font-size: 16px;"> you are here in <span id="id-roomname">Hall</span></strong>
                        </div>
                        <div><strong><span id="user-counter"></span>&nbsp;  •  &nbsp; people in the room</strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oc-main">
            <div id="id-div-chats">
                {% for m in msgs %}
                <div class="oc-chat-item">
                    <div class="oc-chatitem-container">
                        <div class="oc-chatitem-date"></div>
                        <a class="oc-chatitem-avatar" href="#">
                            <img class="oc-avatar" src="/static/chat/img/avatar/avatar_default.png" height="36" width="36">
                        </a>
                        <div class="oc-chatitem-cell">
                            <div class="oc-chatitem-info">
                                <strong><a href="#">{{m.name}}</a></strong>
                                &nbsp;  •  &nbsp;
                                &nbsp;<time>{{m.creattime}}</time>
                            </div>
                            <div class="oc-chatitem-content">{{m.content}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="oc-input">
            <div class="oc-form-cotainer">
                <form class="bs-example bs-example-form" role="form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group"></div>
                        <textarea id="id-input-content" class="form-control" name="content" placeholder="content"></textarea>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>