{% extends "bootstrap/base.html" %}


{% block styles%}
<link href="{{url_for('static', filename='chat/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='chat/css/bbs.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='chat/css/sweetalert2.min.css')}}" rel="stylesheet">
{% endblock styles %}


{% block body %}


{% block topbar %}
<div class="bbs-nav-container">
    <div class="bbs-nav-header"><a href="#">Forum</a></div>
    <div class="bbs-nav-cell" align="">
        <a class="bbs-navcell-item" href="#">Home</a>
        <a class="bbs-navcell-item" href="#">Chat Room</a>
        <a class="bbs-navcell-item" href="#">Issues</a>
        {% if cur_user %}
        <a class="bbs-navcell-item" href="#">Sign Out</a>
        {% else %}
        <a class="bbs-navcell-item" href="#">Sign In</a>
        {% endif %}
    </div>
</div>
{% endblock topbar %}


<div class="main">
    {% block main %}


    <!--<div class="nodes">-->
    {% block nodes %}
    {% endblock nodes %}
    <!--</div>-->


    <!--<div class="sidebar bbs-box">-->
    {% block sidebar %}
    <div class="sidebar bbs-box">
        {% if cur_user %}
        <div>
            <a href="{{url_for('user_blue.profile', username= cur_user.username)}}">
                <img class="bbs-avatar" src="{{cur_user.avatar}}" height="48" width="55">
            </a>
            <span class="greeting">
                <a href="{{url_for('user_blue.profile', username= cur_user.username)}}">
                    {{cur_user.username}}
                </a>
            </span>
        </div>
        {% else %}
        <h1>Hello! guest</h1>
        <a href="/signin">Sign In to share</a>
        {% endif %}
    </div>
    {% endblock sidebar %}
    <!--</div>-->


    <!--<div class="content bbs-box majorbar">-->
    {% block content %}
    {% endblock content %}
    <!--</div>-->


    <!--<div class="topic-post-container majorbar bbs-box">-->
    {% block topic_post %}
    {% endblock topic_post %}
    <!--</div>-->


    {% endblock %}
</div>


{% block scripts %}
{{ super() }}
<script src="/static/chat/js/jquery-3.0.0.js"></script>
<script src="/static/chat/js/sweetalert2.js"></script>
{%- endblock scripts %}


{% endblock body %}
